** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    max-width: 375px;
    width: 375px;
    background-color: hsl(257, 7%, 63%);
}

button {
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    color: hsl(255, 11%, 22%);
}

p {
    color: hsl(257, 7%, 50%);
}

.Header svg {
    position: relative;
    left: 10px;
}

.container {
    text-align: center;
    width: 75%;
}

.para {
    width: 80%;
    padding-left: 3em;
}

.para, .stat-para {
    color: hsl(257, 7%, 30%);
}

.get-started {
    border-radius: 20px;
    border: none;
    padding: 0.65em 1.2em;
    position: relative;
    top: 1em;
    left: 1em;
    margin-bottom: 5em;
}

.hide {
    opacity: 0;
}

.nav-list {
    list-style: none;
    position: relative;
    right: 1em;
}

.navbar {
    background-color: hsl(257, 27%, 26%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    border-radius: 10px;
    font-family: 'Poppins';
    position: relative;
    left: 4em;
}

.statistics {
    position: relative;
    left: 15%;
    top: 20px;
}

.signup {
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0.4em 4em 0.4em 4em;
}

.nav-list-itm {
    margin-bottom: 1em;
}

.nav-login {
    margin-top: 1em;
    margin-bottom: 2em;
}

hr {
    width: 55vw;
}

li, button {
    position: relative;
    left: 5rem;
    font-size: 18px;
}

button {
    left: 0;
    bottom: 2em;
    word-break: keep-all;
}

.main-img {
    position: relative;
    left: 4em;
}

.shorten-div {
    background-color: hsl(257, 27%, 26%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    border-radius: 10px;
    position: relative;
    left: 30px;
}

.shorten-div input, .shorten-div button {
    width: 90%;
    line-height: 25px;
    border-radius: 5px;
    border: none;
}

.shorten-div input {
    position: relative;
    bottom: 5px;
}

.shorten-div button {
    position: relative;
    top: 0.5em;
    width: 92%;
}

.card-title {
    padding-top: 2em;
}

.Card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 75%);
    width: 75%;
    position: relative;
    left: 10%;
    margin-top: 5em;
    border-radius: 5px;
}

.card-txt {
    width: 70%;
}

.Card svg {
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    top: -40px;
}

.boost-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
    margin: 4em 0;
    position: absolute;
    left: 0;
}

.boost-lower h3 {
    color: #fff;
}

.boost-btn {
    margin-bottom: 45px;
    position: relative;
    top: 0.3em;
    border: none;
    border-radius: 20px;
    padding: 0.65em 1em;
}

.Card svg, .boost-lower {
    background-color: hsl(257, 27%, 26%);
}